@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nintendo DS BIOS';
  src: url('/fonts/Nintendo-DS-BIOS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Make it default for entire app */
html, body {
  font-family: 'Nintendo DS BIOS', sans-serif;
}

body{
  /* background-color: #FEE2FE; */
  background-color: #C9EAF8;
}